`math.log`

`math.log10`

`math.log1p`

`math.log2`

In [ ]:
import math

In [ ]:
math.log10(12)

In [ ]:
math.log10(123)

In [ ]:
math.log10(99)

In [ ]:
math.log(987452)

In [ ]:
math.log(26**32)

In [ ]:
26**32

In [ ]:
def log10(x):
    if(x == 1):
        return 0
    if (x == 0):
        return float('-inf')
    if (x < 0):
        return float('nan')
    n =0 
    while ( x >=1.0):
        x = x/10.0
        n +=1
        
    # if x <= sqrt(1/10)
    while( x <=0.316227766016838):
        x = x*10.0
        n = n-1 
    
    # product a change of varialle 
    z = (x-1.0) / (x+1.0)
    D = 0.868588964
    
    # Taylor series 
    sums = z
    for k in range(3,23,2):
        sums += (z**k)/k
    return D*sums*n

In [ ]:
log10(13)

In [ ]:
math.log10(12)