In [1]:
import doc_trig as trig

In [2]:
trig.sin(90)

0.8939966636005579

In [ ]:
import math

In [ ]:
dir(math)

In [ ]:
def sqrt(x):
    """
    square root 
    >>> sqrt(5)
    """
    return x**0.5

In [ ]:
['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [ ]:
import math

In [ ]:
math.sinh(5)

In [ ]:
e=2.7182818284
def sinh(x,/):
    """Return the hyperbolic sine of x."""
    x = (e**x - e**(-x))/2
    return x

In [ ]:
e=2.7182818284
def cosh(x,/):
    """Return the hyperbolic sine of x."""
    x = (e**x + e**(-x))/2
    return x

In [ ]:
def tanh(x,/):
    x = (e**x - e**(-x)) / (e**x + e**(-x))
    return x

In [ ]:
def coth(x,/):
    x = (e**x + e**(-x)) / (e**x - e**(-x))
    return x

In [ ]:
def sech(x,/):
    x = 2/ (e**x + e**(-x)) # 1/ ((e**x + e**(-x))/2)
    return x

In [ ]:
def csch(x,/):
    if ( x != 0):
        
        x = 1 / ((e**x - e**(-x))/2)
        return x 
    else:
        print("Domain error")

csch(0)

`Number-theory and representation function`

- pep 485

`Power and logarithmic function`

`Trigonometric function`

`Angular conversion`
 
 `Hyperbolic function`
 
 `Special function`
 
 `Constant`

In [ ]:
import math

`acos`

`asin`

`atan`

`log`

`log10`

`log1p`

`log2`

`sin`

`cos`

`tan`

In [10]:
import math
def sin(x,n):
    sine = 0
    for i in range(n):
        sign = (-1)**i
        pi=22/7
        y=x*(pi/180)
        sine = sine + ((y**(2.0*i+1))/math.factorial(2*i+1))*sign
    return sine
x=int(input("Enter the value of x in degrees:"))
n=int(input("Enter the number of terms:"))
print(round(sin(x,n),2))

Enter the value of x in degrees:12
Enter the number of terms:10
0.21

In [1]:
import math
def sin(x, /):
    sine =0
    n = 10
    for i in range(n):
        sign = (-1)**i
        pi = 3.14159
        y = x*(pi/180)
        sine =  sine + ((y**(2.0*i+1))/ math.factorial(2*i+1))*sign
    return sine

In [ ]:
sin(91)

In [ ]:
x = float(input("Enter a value for x in degrees."))
x = (x*3.14)/180
num_of_terms = 0
y = 0
z = 1
cosx = ((-1)**(z-1)) * ((x**z)/(y))

In [7]:
x = float(input("Enter a value for x in degrees."))
x = (x*3.14159)/180
num_of_terms = 0
num = 1.0 ##numerator
y = 1.0
cosx = 1.0

while num_of_terms<1:
    num_of_terms+=1
    cosx = (num/y)
    while num_of_terms>=1 and num_of_terms<=20:
        num_of_terms+=1
        num = num*(x*x)
        y = y*num_of_terms*(num_of_terms-1)
        if num_of_terms%2==0:
            cosx = cosx+(-num/y)
        else:
            cosx = cosx+(num/y)
    print(cosx)

Enter a value for x in degrees.75
0.3558232868406213

In [11]:
import math
def cos(x):  
	tp = 1.0 / (2.0 * 3.14159)
	x *= tp
	x -= 0.25 + math.floor(x+0.25)
	x *= 16.0 * (abs(x) - 0.5)
	x += 0.225 * x * (abs(x) - 1.0) #Extra precision
	return x

In [12]:
cos(75)

0.9222220149700635

In [1]:
def my_log(x,/):
    count = -1
    base =10

    while x > 0:
        x /= base
        count += 1
        if x == 0:
            return count

In [2]:
my_log(10)

324

In [1]:
def log(x,base):
    result = ln(x)/ln(base)
    return result
def ln(x):
    val = x
    return 99999999*(x**(1/99999999)-1)

In [5]:
log(2**310,10)

93.31939774742366

In [6]:
import math

In [8]:
math.log(2**310)

214.87562597358306

In [ ]:
import math

In [ ]:
math.log10(50)

In [ ]:
def perform(fun, *args):
    fun(*args)

def action1(args):
    # something

def action2(args):
    #something

perform(action1)
perform(action2, p)
perform(action3, p, r)

In [6]:
import math
def cosine(x,n):
    cosx = 1
    sign = -1
    for i in range(2, n, 2):
        pi=22/7
        y=x*(pi/180)
        cosx = cosx + (sign*(y**i))/math.factorial(i)
        sign = -sign
    return cosx
x=int(input("Enter the value of x in degrees:"))
n=int(input("Enter the number of terms:"))
print(round(cosine(x,n),4))

Enter the value of x in degrees:12
Enter the number of terms:10
0.9781

In [4]:
import math
def tan(x,n):
    tan =  cosine(x,10) / sin(x)
    return tan
x=int(input("Enter the value of x in degrees:"))
n=int(input("Enter the number of terms:"))
print(round(cosine(x,n),4))

Enter the value of x in degrees:75
Enter the number of terms:10
0.2583

In [14]:
math.log(pow(2,310000000))

214875625.97358304

In [16]:
math.log(2**310000000)

214875625.97358304

In [23]:
import mpmath

In [26]:
mpmath.sin(math.inf)

mpf('nan')

In [27]:
trig.sin(math.inf)

nan

In [ ]:
    >>> from riyazi import *
    >>> sin(pi/3)
    0.8660254037844386467637232
    >>> sin(100000001)
    0.1975887055794968911438743
    >>> sin(2+3j)
    (9.1544991469114295734673 - 4.168906959966564350754813j)
    >>> sin(inf)

In [28]:
trig.sin(100000001)

0.1975887055794969

documantation 

1.) Working 
2.) Usages
3.) References

6.21724893790087

In [21]:
math.sin(pow(2,310))

0.9040053966237724

In [17]:
import trig

In [22]:
trig.sin(pow(2,310))

0.9040053966237724

In [ ]:
math.cos()

In [ ]:
math.asin(0.3)

In [ ]:
import math 
def asin(x,/):
    x = (x)*(math.pi/180)
    return x

In [ ]:
asin(0.3)

In [ ]:
def acos(x, /):
    if (x == 0):
        x = 1.5707963267948966
        return x 
    elif(x == -1):
        x = 3.141592653589793
        return x
    elif (x == 1):
        x = 0.0
        return x 
    else:
        print("math domain error")

In [ ]:
math.asin(0.4)

In [ ]:
def asin(x, /):
    if (x == 0):
        x = 0.0
        return x 
    elif (x == 1):
        x = 1.5707963267948966
        return x
    elif(x == -1):
        x = -1.5707963267948966
        return x
    else:
        print("math domain error")

In [ ]:
def asin(x, /):
    if (x == 0):
        x = 0.0
        return x 
    elif (x <= 1):
        x = 1.5707963267948966 *x
        return x
    elif(x == -1):
        x = -1.5707963267948966
        return x
    else:
        print("math domain error")

In [ ]:
asin(0.2)

In [ ]:
math.atan(2)

In [ ]:
def atan(x, /):
    if (x == 0):
        x = 0.0
        return x 
    elif(x == -1):
        x = -1.5707963267948966
        return x
    elif (x == 1):
        x = 0.7853981633974483
        return x 
    else:
        print("math domain error")

In [ ]:
0.7853981633974483 *2

In [ ]:
import math 
math.sin(90)

In [ ]:
math.tan(6)

In [ ]:
math.cos(8)

In [ ]:
pi = 3.14
def sin(d, r=None ,/):
    """
    Return the sine of x radians. 
    d -> degree
    r -> radian
    """
    x = (d*pi)/180
    return x

In [ ]:
sin(90)

In [1]:

def sin(x):
    e = 2.718281
    x = complex(x)
    x = (e**(x) - (e**(-x))) /2
    return x

In [2]:
sin(5)

(74.20309749189573+0j)

In [15]:
x = complex(3)

In [16]:
math.expm1(3)

19.085536923187668

In [17]:
e=2.7182818284
def ex(x,/):
    x = e**x
    return x

def expm1(x,/):
    """Return exp(x)-1."""
    x = ex(x)-1
    return x

In [18]:
expm1(3)

19.0855369218788

In [19]:
math.gamma(4)

6.0

In [20]:
math.ldexp(5,6)

320.0

In [21]:
def ldexp(x,i,/):
    
    x =float (x*(2**i))
    return x

In [22]:
ldexp(5,6)

320.0

In [23]:
import math

In [24]:
math.remainder(6,5)

1.0

In [25]:
math.remainder(43,4)

-1.0

In [26]:
def remainder(x,y,/):
    """
    positive is your remainder
    negative is your need if you want to x multiple of y.
    Difference between x and the closest integer multiple of y.
    """
    r = x%y
    c = int (-1 * (y/r))
    print("(remainder, Difference closest integer multiply of y.)")
    return r,c

In [27]:
remainder(42,4)

(remainder, Difference closest integer multiply of y.)

(2, -2)

In [28]:
43/4

10.75

In [29]:
math.erf(3)

0.9999779095030014

In [30]:
import math
math.radians(89)

1.5533430342749532

In [31]:

def radians(x,/):
    """Convert angle x from degrees to radians."""
    r= 0.017453292519943295
    r = x*r
    return r

In [32]:
radians(89)

1.5533430342749532

In [33]:
import math

In [34]:
math.modf(1.5)

(0.5, 1.0)

In [35]:
def modf(x,/):
    a = int(x)
    x = float(a)
    y = float(x)
    return x,y

In [36]:
modf(1.5)

(1.0, 1.0)

In [37]:
def modf(x):
    a = int(x)
    b = (x%a)
    x = float(a)
    decimal_places='%.1f'
    b = float(decimal_places %b)
    return  b, x

In [38]:
modf(7.9)

(0.9, 7.0)

In [39]:
import math

In [40]:
math.degrees(34)

1948.056503444799

In [41]:
def degress(x,/):
    """Convert angle x from radians to degrees."""
    dv = 57.29577951308232
    deg = x*dv
    return deg

In [42]:
degress(34)

1948.056503444799

In [43]:
math.dist([5,6],[9,8])

4.47213595499958

In [44]:
sqrt(-3)

NameError: name 'sqrt' is not defined

In [ ]:
type(sqrt(-4))

In [ ]:
type(sqrt(4))

In [ ]:
math.floor(100.5)

In [ ]:
def floor(x,/):
    """
    Return the floor of x as an Integral.

    """
    x = int(x)
    return x

In [45]:
floor(22)

NameError: name 'floor' is not defined

In [46]:
math.ceil(5.)

5

In [47]:
def ceil(x,/):
    """
    Return the ceiling of x as an Integral.
    """
    if (int == type(x)):
        x=x
        return x 
    elif (float == type(x)):
        x = int(x)
        return (x+1)

In [48]:
ceil(5.)

6

In [49]:
math.comb(5,4)

5

In [50]:
math.fmod(35,3)

2.0

In [51]:
def fmod(x,y,/):
    z =float (x%y) 
    return z

In [52]:
fmod(35,3)

2.0

In [53]:
import math 
math.gamma(6)

120.0

In [54]:
math.gcd()

0

In [55]:
math.hypot()

0.0

In [56]:
math.log10(34)

1.5314789170422551

In [ ]:
log10(3)

In [ ]:
math.log(7)

In [3]:
def hypot(*coordinate):
    """hypot(*coordinates) -> value

    Multidimensional Euclidean distance from the origin to a point.

    Roughly equivalent to:
    sqrt(sum(x**2 for x in coordinates))

    For a two dimensional point (x, y), gives the hypotenuse
    using the Pythagorean theorem:  sqrt(x*x + y*y).

    For example, the hypotenuse of a 3/4/5 right triangle is:

    >>> hypot(3.0, 4.0)"""
    
    return x

In [4]:
hypot(1,2,3)

NameError: name 'x' is not defined

In [ ]:
e=2.7182818284
def ex(x,/):
    x = e**x
    return x

In [ ]:
ex(2)

In [ ]:
def x2(x,/):
    x = x**2
    return x

In [ ]:
x2(15)

In [ ]:
import math 
math.prod([2.0,3,4],start=2)

In [1]:
def prod(iterable, / ,*, start=1):
    
    """Calculate the product of all the elements in the input iterable."""
     'list type change '
    iterable = start*(iterable*iterable)
    return iterable

IndentationError: unexpected indent (1434953587.py, line 4)

In [4]:
prod([3,4])

TypeError: can't multiply sequence by non-int of type 'list'

In [2]:
def prod(iterable,/,*,start=1):
    iterable = start*(iterable*iterable)
    return iterable