## Trigonometric (Real or Complex):
            ** sin(x) 
            ** cos(x) 
            ** tan(x) 
            ** cot(x) 
            ** sec(x) 
            ** csc(x)

In [1]:
PI = 3.141592653589793238462643383

def _sin(x,/) :
    """
     Return the sine of x (measured in radian).
    """
    
    terms=9
    # map x into the range -PI/2 to PI/2 for greatest accuracy
    x %= 2*PI
    if x > PI:
        x -= 2*PI
        if x < -PI/2:
            x = -PI - x
    elif x > PI/2:
        x = PI - x

    total = 0
    denominator = 1
    for i in range(1, 2*terms+2, 2):
        denominator *= i
        total += (x ** i) / denominator
        denominator *= -(i + 1)
    return total

In [2]:
from math import factorial, radians


def sin(x,/, radian=False):
    
    if(radian == True ):
        return _sin(x)
    
    """   
    Return the sine of x (measured in degree).
    if radian is true then return 'radian'
    
    """
    
    # Simplify the angle to be between 360 and -360 degrees.
    x = x - ((x // 360.0) * 360.0)
   
    # Converting from degrees to radians
    radian = radians(x)

    result =radian
    a = 3
    b = -1
    accuracy = 16 
    for _ in range(accuracy):
        result += (b * (radian**a)) / factorial(a)

        b = -b  # One positive term and the next will be negative and so on...
        a += 2  # Increased by 2 for every term.

   
    return result

In [3]:
sin(23454556)

-0.27563735581699955

## Inverse Trigonometric (Real Only for accurate results):
**asin(x) `sin`<sup>-1 </sup>**

**acos(x)**

**atan(x)**

**acot(x)**

**asec(x)**

**acsc(x)**  

### https://en.wikipedia.org/wiki/Inverse_trigonometric_functions

In [4]:
import math

In [5]:
math.asin
math.acos
math.atan

In [6]:
pi =3.1415926535897932384
def asin(x):
    """
    Return the arc sine (measured in radians) of x.

    The result is between -pi/2 and pi/2.
    """
    
    if not (-1 <= x <= 1):
        raise ValueError("Math domain error x not in (-1,1)")
    result = (-pi/2) <= x <= (pi/2)
    return result

In [7]:
asin(1)

True

In [8]:
def power(x,y):
    return x**y

In [9]:
# Inverse Trigonometric
import math

def asin(x):
    iterations= 900
   
    
    if not (-1 <= x <= 1):
        raise ValueError("Math domain error not in [-1,1]")
    total = 0
    
    for n in range(iterations):
        
        nominator_0 = math.factorial(2*n)
        
        nominator_1 = power(x,2*n+1)
       
        denominator_0 = power(power(2,n)*math.factorial(n),2)
      
        denominator_1 = 2*n+1
       
        div_0 = nominator_0 / denominator_0
        div_1 = nominator_1 / denominator_1
        total += div_1 * div_0
    
    return total

In [10]:

asin(1),asin(-1)

(1.5519891373698251, -1.5519891373698251)

In [11]:
math.asin(1), math.asin(-1)

(1.5707963267948966, -1.5707963267948966)

In [12]:
def acos(x : float,iterations : int = 100,degrees : bool = False) -> float:
    """
        Inverse Trigonometric function : acos\n
        equivalant to the following expression : \n
        ** x = cos(y) => acos(x) = y **\n
            if deegrees is set to True it will give the result in degrees\n
        Domain (-1 <= x <= 1)
    """
    if not (-1 <= x <= 1):
        raise ValueError("Math domain error not in [-1,1]")
    result = (pi / 2) - math.asin(x)
    if degrees:
        result = toDegrees(result)
    return result

In [13]:
acos(.4)

1.1592794807274085

In [14]:
math.acos(.4)

1.1592794807274085

In [15]:
def atan(x,/):
    """
    Return the arc tangent (measured in radians) of x.

    The result is between -pi/2 and pi/2.

    """
    degree:bool=False
    formula = math.acos((1-x**2)/ (1+x**2))
    total = 0.5*formula
    if degree:
        total = math.degrees(total)
    return total

In [16]:
atan(2)

1.1071487177940904

In [17]:
math.atan(2)

1.1071487177940904

In [18]:
math.atan(21)

1.5232132235179132

In [19]:
atan(21)

1.5232132235179132

In [20]:
def acot(x,/):
    degree:bool=False
    result = (math.pi/2) - math.atan(x)
    if degree:
        result = math.degrees(result)
    return result

In [21]:
acot(1)

0.7853981633974483

In [22]:
import math 
def asec(x,/):
    degrees : bool = False

    if (x <= -1) or (x >= 1):
        res =  math.acos(1/x)
        if degrees:
            res = math.degrees(res)
        return res
    else:
        raise ValueError("Math domain error not in (x <= -1 or x >= 1)")

In [23]:
asec(2)

1.0471975511965979

In [24]:
def acsc(x : float,iterations : int = 100,degrees : bool = False):
    """
        Inverse Trigonometric function : acosecant\n
        equivalant to the following expression : \n
        ** x = csc(y) => acsc(x) = y **\n
        if deegrees is set to True it will give the result in degrees\n
        Domain : (x <= -1 or x >= 1)
    """
    if (x <= -1) or (x >= 1):
        result = ( math.pi / 2 ) - asec(x)
        if degrees:
            result = math.degrees(result)
        return result
    else:
        raise ValueError("Math domain error not in (x <= -1 or x >= 1)")

In [25]:
acsc(1)

1.5707963267948966

##  Conversions:
            - radians
            - degrees

In [26]:
pi =3.141592653589793
def radians(x,/):
    """Convert angle x from degrees to radians."""
    return (pi/180)*x

In [27]:
def degrees(x,/):
    """Convert angle x from radians to degrees."""
    return (180 / pi) * x

##  Hyperbolic Trigonometric (Real and Imaginary):
            ** sinh(x)
            ** cosh(x)
            ** tanh(x)
            ** coth(x)
            ** csch(x)
            ** sech(x)
            
            
            
### https://en.wikipedia.org/wiki/Hyperbolic_functions           

 - hyperbolic sine: :class:`sinh() <Function_sinh>`
 - hyperbolic cosine: :class:`cosh() <Function_cosh>`
 - hyperbolic tangent: :class:`tanh() <Function_tanh>`
 - hyperbolic cotangent: :class:`coth() <Function_coth>`
 - hyperbolic secant: :class:`sech() <Function_sech>`
 - hyperbolic cosecant: :class:`csch() <Function_csch>`

In [28]:
e=2.7182818284
def sinh(x,/):
    """Return the hyperbolic sine of x."""
    x = (e**x - e**(-x))/2
    return x

In [29]:
sinh(2)

3.6268604076835773

In [30]:
e=2.7182818284
def cosh(x,/):
    """Return the hyperbolic sine of x."""
    x = (e**x + e**(-x))/2
    return x

In [31]:
cosh(2)

3.7621956909260694

In [32]:
def tanh(x,/):
    x = (e**x - e**(-x)) / (e**x + e**(-x))
    return x

In [33]:
tanh(4)

0.9993292997389505

In [34]:
def coth(x,/):
    x = (e**x + e**(-x)) / (e**x - e**(-x))
    return x

In [35]:
coth(3)

1.0049698233143387

In [36]:
def sech(x,/):
    x = 2/ (e**x + e**(-x)) # 1/ ((e**x + e**(-x))/2)
    return x

In [37]:
sech(9)

0.0002468196044625533

In [38]:
def csch(x,/):
    if ( x != 0):
        
        x = 1 / ((e**x - e**(-x))/2)
        return x 
    else:
        print("Domain error")

In [39]:
csch(3)

0.09982156967535992

##  Inverse Hyperbolic (Real only for accurate results):
            ** arsinh(x)
            ** aosh(x)
            ** artanh(x)
            ** aoth(x)
            ** asch(x)
            ** arsech(x)
### https://en.wikipedia.org/wiki/Inverse_hyperbolic_functions            
- inverse hyperbolic sine: :class:`asinh() <Function_arcsinh>`

- inverse hyperbolic cosine: :class:`acosh() <Function_arccosh>`

- inverse hyperbolic tangent: :class:`atanh() <Function_arctanh>`

- inverse hyperbolic cotangent: :class:`acoth() <Function_arccoth>`

- inverse hyperbolic secant: :class:`asech() <Function_arcsech>`

- inverse hyperbolic cosecant: :class:`acsch() <Function_arccsch>`

In [40]:
import math
def arsinh(x,/):
    x = math.log(x + (x**2+1)**0.5)
    return x

In [41]:
arsinh(1)

0.8813735870195429

In [42]:
import math
def arcosh(x,/):
    x = math.log(x + (x**2-1)**0.5)
    return x

In [43]:
arcosh(1)

0.0

In [44]:
import math 
def artanh(x,/):
    x = 0.5 * math.log((1+x) / (1-x))
    return x

In [45]:
artanh(0.4)

0.42364893019360184

In [46]:
math.atanh(0.4)

0.42364893019360184

In [47]:
# https://www.123calculus.com/en/hyperbolic-inverse-functions-page-1-12-180.html

def arcoth(x,/):
    x = (1/2)* math.log((x+1) / (x-1))
    return x

In [48]:
arcoth(1.2)

1.1989476363991853

In [49]:
def arsech(x,/):
    x = math.log((1+(1-x**2)**0.5) /x)
    return x

In [50]:
arsech(0.4)

1.5667992369724109

In [51]:
def arcsch(x,/):
    x = math.log((1/x)+ ((1/x**2)+1)**0.5)
    return x

In [52]:
arcsch(.2)

2.3124383412727525